<%= render 'shared/page_title', title: "All Chefs" %>
<div class="row">
	<div class="cold-md-4 cold-md-offset-4 center">
		<%= will_paginate @chefs %>
	</div>
</div>

<% @chefs.each do  |chef| %>
	<div class="row">
		<div class="cold-md-4 cold-md-offset-4 center">
			<%= link_to gravatar_for(chef, size: 200), chef_path(chef) %>
			<p>
				<h5>Chef name: <%= chef.chefname %></h5>
			</p>
		</div>
	</div>
<% end %>
